#start-btn
{
    width: 40%;
} 
#my_webcam, #selfie_result
{
    width:360px;
    height: 250px;
    border:4px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
